html {
  font-family: 'Ovo','Sanchez', serif;
  font-size: 80%; }

@media all and (min-width: 400px) {
  html {
    font-size: 120%; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html {
    font-size: 120%; } }
body {
  padding: 0;
  margin: 0;
  background-color: #EEE; }

.loader {
  text-align: center; }

.search {
  width: 100vw;
  margin: 0.5em;
  padding: 0; }

.search__test {
  margin: 0;
  padding: 0;
  width: 70vw;
  font-size: 0.8rem;
  height: 25px; }

.search__btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 20vw;
  height: 25px; }

.btn {
  /* Rectangle 1: */
  /* Rectangle 1: */
  background: #E74E3B;
  border-radius: 1px; }

.main-header {
  text-align: center;
  background-color: #16210b;
  /*	filter: alpha(opacity=50);
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
     opacity:0.9;
     -moz-opacity: 0.90; */
  /*zoom: 1.5;*/
  color: white;
  padding: 2em;
  height: 110px; }

.main-header h1 {
  margin: 0;
  /*word-wrap: break-all;*/ }

.main-header h2 {
  font-size: 1rem;
  font-weight: normal; }

@media screen and (min-width: 500px) {
  html {
    font-size: 150%; }

  /*.main-header {
  	background-color: olive;
  }*/ }
/*	@media screen and (orientation: landscape){
		.main-header {
			background-color: olive;
		}
	}*/
.card {
  position: relative;
  height: 35vh;
  width: 100vw;
  background-image: url(../img/panama.jpg);
  background-size: cover;
  color: white;
  padding: 0.4em;
  margin-bottom: .2em;
  font-family: 'Tao', cursive;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.card::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.card__title {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 2rem;
  position: relative; }

.card__date {
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px black;
  position: relative; }

@media all and (min-width: 600px) {
  /*28em*/
  .card {
    height: 75vh;
    width: 100vw;
    background-image: url(../img/panama.jpg);
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat; } }
.card__info {
  position: absolute;
  bottom: 1.2em;
  /*left: 50vw;*/
  left: 1em;
  top: 8em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.6em;
  width: 30%;
  height: 36%;
  padding: 0.4em;
  border-radius: 10px; }

@media all and (min-width: 600px) {
  /*28em*/
  .card__info {
    top: 2.5em;
    height: 62%; } }
.card__image {
  display: block;
  /*margin: 0 auto;*/
  width: 20%; }

.card__temp {
  display: block;
  font-size: 1.5rem;
  text-shadow: 2px 2px black;
  line-height: 1.5; }

@media all and (min-width: 600px) {
  .card__temp {
    /*line-height: 1.5;*/
    font-size: 3rem; }

  .card__info {
    font-size: 1em;
    height: 45%;
    top: 8em; } }
.card__maxt::before {
  content: "Max: "; }

.card__mint::before {
  content: "Min: "; }

.card__maxt::after, .card__mint::after, .card__temp::after {
  content: " c"; }

.button, .button:visited {
  /*background: #222 url(overlay.png) repeat-x; */
  display: inline-block;
  /*padding: 5px 10px 6px; */
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  /*	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);*/
  /*text-shadow: 0 -1px 1px rgba(0,0,0,0.25);*/
  /*	border-bottom: 1px solid rgba(0,0,0,0.25);*/
  position: relative;
  cursor: pointer; }

.button:hover {
  background-color: #111;
  color: #fff; }

/*.button:active							{ top: 1px; }*/
.small.button, .small.button:visited {
  font-size: 11px; }

.button, .button:visited,
.medium.button, .medium.button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  width: 20vw; }

.large.button, .large.button:visited {
  font-size: 14px;
  padding: 8px 14px 9px; }

.super.button, .super.button:visited {
  font-size: 34px;
  padding: 8px 14px 9px; }

.pink.button, .magenta.button:visited {
  background-color: #e22092; }

.pink.button:hover {
  background-color: #c81e82; }

.green.button, .green.button:visited {
  background-color: #91bd09; }

.green.button:hover {
  background-color: #749a02; }

.red.button, .red.button:visited {
  background-color: #e62727; }

.red.button:hover {
  background-color: #cf2525; }

.orange.button, .orange.button:visited {
  background-color: #ff5c00; }

.orange.button:hover {
  background-color: #d45500; }

.blue.button, .blue.button:visited {
  background-color: #2981e4; }

.blue.button:hover {
  background-color: #2575cf; }

.yellow.button, .yellow.button:visited {
  background-color: #ffb515; }

.yellow.button:hover {
  background-color: #fc9200; }

@media screen and (max-width: 500px) {
  .button, .button:visited {
    display: block;
    width: 90vw;
    margin: 10px; }

  .search__test {
    margin: 10px;
    padding: 0;
    width: 90vw;
    height: 25px; } }
